<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.togetherdelivery">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="배달투게더"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TogetherDelivery">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinActivity"></activity>
        <activity android:name=".TogetherActivity"></activity>
        <activity android:name=".AloneActivity"></activity>
        <activity android:name=".AloneMenuListActivity"></activity>
        <activity android:name=".AloneShopBagActivity"></activity>
        <activity android:name=".PurchaseWaitingActivity"></activity>
        <activity android:name=".TogetherShopBagActivity"></activity>
        <activity android:name=".TogetherListActivity"></activity>
        <activity android:name=".TogetherMenuListActivity"></activity>
        <activity android:name=".TogetherGroupActivity"></activity>
        <activity android:name=".AlonePurchaseActivity"></activity>
        <activity android:name=".TogetherPurchaseActivity"></activity>
        <activity android:name=".TogetherOrderActivity"></activity>
        <activity android:name=".TogetherPurchaseOrderActivity"></activity>
        <activity android:name=".TogetherOrderCompleActivity"></activity>
        <activity android:name=".ChatMessageActivity"></activity>

    </application>

</manifest>